<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name ="TransactionServer">
      <service>
        <wellknown mode="Singleton"
                   type ="CommonLibrary.TransactionFactory,CommonLibrary"
                   objectUri="TransactionFactory"/>
      </service>
      <channels>
        <channel ref="tcp" port="999">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>